# Week 4: 4.009 Practicing with dataframes and applying our understanding

# Activity 1

Find yourself a data file from an open data repository. Select an interesting table of data and convert it into a CSV if necessary. Then load it into a Python program and examine the data that comes in as a dataframe.

In [1]:
import pandas as pd
import csv
# replace the text in "" with an actual filename

## data = pd.read_csv("theNameOfYourFile.csv") 

# You could do this directly from a URL if you don't want to upload a file through Jupyter's upload tab e.g.

# data = pd.read_csv('https://someData.url')

# If you require authentication then this will fail and you will have to use

import urllib

Write a program that works out which of the local authorities has the `most polluted` educational institution and 
which has the `least polluted` educational institution. 

Hint: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.max.html

You can use the `London Datastore's dataset`
https://data.london.gov.uk/dataset/schools-and-educational-institutions-air-quality-exposure-data
or a different dataset if you wish. 

If you want to try to apply more` advanced statistical functions` to the dataset then please do give it a go! You might for example want to explore the different data types

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.dtypes.html

Are they correct or `is there an issue with the mapping?`

Perhaps you want to `split your data into quantiles` to further refine meaning.

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.quantile.html

Post your analysis on the discussion forum and respond to at least one of your peers.

In [2]:
pd.read_csv?

In [3]:
df_csv=pd.read_csv("Schools.csv")

In [4]:
df_csv

,URN,Local Authority name,Establisment name,Easting,Northing,Type of Establishment,Phase of education,NO2ug/m3 mean 2013,Above limit,Parliamentary Constituences,Establishment Status,Close Date
0,134154,Tower Hamlets,Courtauld Institute of Art,530773,180770,Higher Education Institutions,Not applicable,73.1,Yes,Cities of London and Westminster,Open,NaN
1,133910,Westminster,London School of Economics and Political Science,530778,181130,Higher Education Institutions,Not applicable,68.2,Yes,Cities of London and Westminster,Open,NaN
2,100529,Lambeth,DLD College London,530860,179614,Other Independent School,Not applicable,67.8,Yes,Vauxhall,Open,NaN
3,133167,Southwark,London College of Printing & Distributive Trades,531909,178989,Miscellaneous,Not applicable,67.3,Yes,Bermondsey and Old Southwark,Open,NaN
4,101136,Westminster,St Mary's Bryanston Square CofE School,527546,181766,Voluntary Aided School,Primary,67.0,Yes,Cities of London and Westminster,Open,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
3256,137414,Havering,Emerson Park Academy,555559,188013,Academy Converter,Secondary,22.9,No,Hornchurch and Upminster,Open,NaN
3257,142234,Bromley,Oaklands Primary Academy,541217,159337,Academy Converter,Primary,22.8,No,Orpington,Open,NaN
3258,131395,Bromley,Browns School,548873,164181,Other Independent Special School,Not applicable,22.8,No,Orpington,Open,NaN
3259,141549,Havering,Drapers' Maylands Primary School,555266,192587,Free Schools,Primary,22.5,No,Hornchurch and Upminster,Open,NaN
3260,142050,Havering,Dycorts School,555075,192641,Academy Special Sponsor Led,Not applicable,22.4,No,Hornchurch and Upminster,Open,NaN

## To `NO2ug/m3 mean 2013` for ALL SCHOOLS

In [5]:
df_csv.columns

Index(['URN', 'Local Authority name', 'Establisment name', 'Easting',
       'Northing', 'Type of Establishment', 'Phase of education',
       'NO2ug/m3 mean 2013', 'Above limit', 'Parliamentary Constituences',
       'Establishment Status', 'Close Date'],
      dtype='object')

In [6]:
df_csv['NO2ug/m3 mean 2013']

0       73.1
1       68.2
2       67.8
3       67.3
4       67.0
        ...
3256    22.9
3257    22.8
3258    22.8
3259    22.5
3260    22.4
Name: NO2ug/m3 mean 2013, Length: 3261, dtype: float64

### to get the mean of all schools

In [8]:
df_csv['NO2ug/m3 mean 2013'].mean()

36.22726157620361

# Activity (10 minutes)
* Now try with Excel  (Schools.xlsx)
* DO the same i.e., find the mean of NO2ug/m3 mean 2013

In [18]:
pd.read_excel?

### Read from Excel Schools.xlsx

In [6]:
df_excel=pd.read_excel("Schools.xlsx")

### Check the dataframe df_excel

In [7]:
df_excel

,URN,Local Authority name,Establisment name,Easting,Northing,Type of Establishment,Phase of education,NO2ug/m3 mean 2013,Above limit,Parliamentary Constituences,Establishment Status,Close Date
0,134154,Tower Hamlets,Courtauld Institute of Art,530773,180770,Higher Education Institutions,Not applicable,73.1,Yes,Cities of London and Westminster,Open,NaT
1,133910,Westminster,London School of Economics and Political Science,530778,181130,Higher Education Institutions,Not applicable,68.2,Yes,Cities of London and Westminster,Open,NaT
2,100529,Lambeth,DLD College London,530860,179614,Other Independent School,Not applicable,67.8,Yes,Vauxhall,Open,NaT
3,133167,Southwark,London College of Printing & Distributive Trades,531909,178989,Miscellaneous,Not applicable,67.3,Yes,Bermondsey and Old Southwark,Open,NaT
4,101136,Westminster,St Mary's Bryanston Square CofE School,527546,181766,Voluntary Aided School,Primary,67.0,Yes,Cities of London and Westminster,Open,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...
3256,137414,Havering,Emerson Park Academy,555559,188013,Academy Converter,Secondary,22.9,No,Hornchurch and Upminster,Open,NaT
3257,142234,Bromley,Oaklands Primary Academy,541217,159337,Academy Converter,Primary,22.8,No,Orpington,Open,NaT
3258,131395,Bromley,Browns School,548873,164181,Other Independent Special School,Not applicable,22.8,No,Orpington,Open,NaT
3259,141549,Havering,Drapers' Maylands Primary School,555266,192587,Free Schools,Primary,22.5,No,Hornchurch and Upminster,Open,NaT
3260,142050,Havering,Dycorts School,555075,192641,Academy Special Sponsor Led,Not applicable,22.4,No,Hornchurch and Upminster,Open,NaT

### Get the NO2ug/m3 mean 2013 of Excel DataFrame

In [8]:
df_excel['NO2ug/m3 mean 2013']

0       73.1
1       68.2
2       67.8
3       67.3
4       67.0
        ...
3256    22.9
3257    22.8
3258    22.8
3259    22.5
3260    22.4
Name: NO2ug/m3 mean 2013, Length: 3261, dtype: float64

### Get the mean

In [9]:
df_excel['NO2ug/m3 mean 2013'].mean()

36.22726157620361

# Activity
### Now get the original data `'Schools_ParliamentaryConstituencies'`
What's wrong with it?

In [36]:
df_original=pd.read_excel('Schools_ParliamentaryConstituencies.xlsx',sheet_name=1,skiprows=3)

In [37]:
df_original

,Unnamed: 0,URN,Local Authority name,Establisment name,Easting,Northing,Type of Establishment,Phase of education,NO2ug/m3 mean 2013,Above limit,Parliamentary Constituences,Establishment Status,Close Date
0,NaN,134154,Tower Hamlets,Courtauld Institute of Art,530773,180770,Higher Education Institutions,Not applicable,73.1,Yes,Cities of London and Westminster,Open,NaT
1,NaN,133910,Westminster,London School of Economics and Political Science,530778,181130,Higher Education Institutions,Not applicable,68.2,Yes,Cities of London and Westminster,Open,NaT
2,NaN,100529,Lambeth,DLD College London,530860,179614,Other Independent School,Not applicable,67.8,Yes,Vauxhall,Open,NaT
3,NaN,133167,Southwark,London College of Printing & Distributive Trades,531909,178989,Miscellaneous,Not applicable,67.3,Yes,Bermondsey and Old Southwark,Open,NaT
4,NaN,101136,Westminster,St Mary's Bryanston Square CofE School,527546,181766,Voluntary Aided School,Primary,67.0,Yes,Cities of London and Westminster,Open,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3256,NaN,137414,Havering,Emerson Park Academy,555559,188013,Academy Converter,Secondary,22.9,No,Hornchurch and Upminster,Open,NaT
3257,NaN,142234,Bromley,Oaklands Primary Academy,541217,159337,Academy Converter,Primary,22.8,No,Orpington,Open,NaT
3258,NaN,131395,Bromley,Browns School,548873,164181,Other Independent Special School,Not applicable,22.8,No,Orpington,Open,NaT
3259,NaN,141549,Havering,Drapers' Maylands Primary School,555266,192587,Free Schools,Primary,22.5,No,Hornchurch and Upminster,Open,NaT
3260,NaN,142050,Havering,Dycorts School,555075,192641,Academy Special Sponsor Led,Not applicable,22.4,No,Hornchurch and Upminster,Open,NaT

### Now get the data directly from Website

https://data.london.gov.uk/download/schools-and-educational-institutions-air-quality-exposure-data/9d5a5099-2030-4b94-b9cf-1eb3bf7d203e/Schools_ParliamentaryConstituencies.xlsx

In [27]:
df=pd.read_excel\
('https://data.london.gov.uk/download/schools-and-educational-institutions-air-quality-exposure-data/9d5a5099-2030-4b94-b9cf-1eb3bf7d203e/Schools_ParliamentaryConstituencies.xlsx'\
 , sheet_name=1, skiprows=3)

In [28]:
df.dtypes

Unnamed: 0                            float64
URN                                     int64
Local Authority name                   object
Establisment name                      object
Easting                                 int64
Northing                                int64
Type of Establishment                  object
Phase of education                     object
NO2ug/m3 mean 2013                    float64
Above limit                            object
Parliamentary Constituences            object
Establishment Status                   object
Close Date                     datetime64[ns]
dtype: object

In [29]:
df['NO2ug/m3 mean 2013'].max()

73.1

In [30]:
df['NO2ug/m3 mean 2013'].mean()

36.22726157620361

In [31]:
df.quantile()

Unnamed: 0                 NaN
URN                   102449.0
Easting               530860.0
Northing              181188.0
NO2ug/m3 mean 2013        35.2
Name: 0.5, dtype: float64

In [32]:
df['NO2ug/m3 mean 2013'].median()

35.2

In [33]:
df.quantile(0.5)

Unnamed: 0                 NaN
URN                   102449.0
Easting               530860.0
Northing              181188.0
NO2ug/m3 mean 2013        35.2
Name: 0.5, dtype: float64

# Activity 2

Access an open data repository and find some historical data for the part of the world that you are in. 

Import the data to a DataFrame. Then calculate:

<ul>
    <li>`min/max` values from each column.</li>
    <li>a count of the `NA/NaN` values. There are a few ways to do this e.g. </li>
    
    
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.isna.html
https://numpy.org/doc/stable/reference/generated/numpy.isnan.html
    
    
<li> Finally, find something interesting from the data.</li>
    
This requires you to understand the data and find an approach that explores this construct. Where is the missing 
data? How might this obscure your analysis? Can you think of a simple solution to `overcome this problem of missing data`?
    
Hint: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.dropna.html
    
(We will cover this at a greater level of depth in a later topic!)
    
As an example if you are working with weather data for instance, you might want to compute the `Pearson correlation coefficient` between the temperature and wind speed. Is it significant? What story can you tell with the data? Can 
you offer an interesting and insightful narrative?
    
Share a summary of your findings on the discussion forum and comment on a post from your peers describing what you 
think is interesting from their summary.

In [55]:
df.isna()

,Unnamed: 0,URN,Local Authority name,Establisment name,Easting,Northing,Type of Establishment,Phase of education,NO2ug/m3 mean 2013,Above limit,Parliamentary Constituences,Establishment Status,Close Date
0,True,False,False,False,False,False,False,False,False,False,False,False,True
1,True,False,False,False,False,False,False,False,False,False,False,False,True
2,True,False,False,False,False,False,False,False,False,False,False,False,True
3,True,False,False,False,False,False,False,False,False,False,False,False,True
4,True,False,False,False,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3256,True,False,False,False,False,False,False,False,False,False,False,False,True
3257,True,False,False,False,False,False,False,False,False,False,False,False,True
3258,True,False,False,False,False,False,False,False,False,False,False,False,True
3259,True,False,False,False,False,False,False,False,False,False,False,False,True
3260,True,False,False,False,False,False,False,False,False,False,False,False,True

In [49]:
df.isna().any()

Unnamed: 0                      True
URN                            False
Local Authority name           False
Establisment name              False
Easting                        False
Northing                       False
Type of Establishment          False
Phase of education             False
NO2ug/m3 mean 2013             False
Above limit                    False
Parliamentary Constituences    False
Establishment Status           False
Close Date                      True
dtype: bool

In [54]:
df.isna().sum()

Unnamed: 0                     3261
URN                               0
Local Authority name              0
Establisment name                 0
Easting                           0
Northing                          0
Type of Establishment             0
Phase of education                0
NO2ug/m3 mean 2013                0
Above limit                       0
Parliamentary Constituences       0
Establishment Status              0
Close Date                     3119
dtype: int64

In [61]:
df_series=df['Close Date']

In [63]:
type(df_series)

pandas.core.series.Series

In [64]:
import numpy as np
np.array(df_series)

array(['NaT', 'NaT', 'NaT', ..., 'NaT', 'NaT', 'NaT'],
      dtype='datetime64[ns]')

In [65]:
a=np.array(df_series)

In [69]:
np.isnan(a).sum()

3119

In [72]:
df.corr()

,Unnamed: 0,URN,Easting,Northing,NO2ug/m3 mean 2013
Unnamed: 0,NaN,NaN,NaN,NaN,NaN
URN,NaN,1.000000,0.044658,-0.063367,-0.032507
Easting,NaN,0.044658,1.000000,0.023676,-0.111569
Northing,NaN,-0.063367,0.023676,1.000000,0.037798
NO2ug/m3 mean 2013,NaN,-0.032507,-0.111569,0.037798,1.000000

# Possible Solution

In [ ]:
df=pd.read_excel('https://data.london.gov.uk/download/schools-and-educational-institutions-air-quality-exposure-data/9d5a5099-2030-4b94-b9cf-1eb3bf7d203e/Schools_ParliamentaryConstituencies.xlsx', sheet_name=1, skiprows=3)

In [38]:
df.dtypes

Unnamed: 0                            float64
URN                                     int64
Local Authority name                   object
Establisment name                      object
Easting                                 int64
Northing                                int64
Type of Establishment                  object
Phase of education                     object
NO2ug/m3 mean 2013                    float64
Above limit                            object
Parliamentary Constituences            object
Establishment Status                   object
Close Date                     datetime64[ns]
dtype: object

In [39]:
df['NO2ug/m3 mean 2013'].max()

73.1

In [41]:
df['NO2ug/m3 mean 2013'].mean()

36.22726157620361

In [40]:
df.quantile()

Unnamed: 0                 NaN
URN                   102449.0
Easting               530860.0
Northing              181188.0
NO2ug/m3 mean 2013        35.2
Name: 0.5, dtype: float64

In [43]:
df['NO2ug/m3 mean 2013'].median()

35.2

In [45]:
df.quantile(0.5)

Unnamed: 0                 NaN
URN                   102449.0
Easting               530860.0
Northing              181188.0
NO2ug/m3 mean 2013        35.2
Name: 0.5, dtype: float64